<section class="exercises-section" data-section="catalog">
  <div class="container">
    <div class="filters" data-section="filters">
      <h2 class="exercises__title">Exercises</h2>

      <ul class="filters" role="tablist">
        <li>
          <button
            class="filters__btn is-active"
            data-filter="Muscles"
            type="button"
          >
            Muscles
          </button>
        </li>
        <li>
          <button class="filters__btn" data-filter="Body parts" type="button">
            Body parts
          </button>
        </li>
        <li>
          <button class="filters__btn" data-filter="Equipment" type="button">
            Equipment
          </button>
        </li>
      </ul>
    </div>

    <div class="categories" data-section="categories">
      <!-- TODO: Categories grid -->
    </div>

    <div class="exercises" data-section="exercises-list" hidden>
      <!-- TODO: Search + exercises cards grid -->
    </div>
  </div>
</section>
