<header class="header" data-section="header">
    <div class="container header-container">
      <a href="./index.html" class="logo">
        <img src="./images/logo.svg" alt="Your Energy">
      </a>

      <nav class="nav">
        <ul class="nav-list pill-menu">
          <li class="nav-item">
            <a href="./index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="./favorites.html" class="nav-link">Favorites</a>
          </li>
        </ul>
      </nav>

      <ul class="socials header-socials no-dots">
        <li class="socials-item">
          <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" class="socials-link">
            <svg class="socials-icon" width="28" height="28">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" class="socials-link">
            <svg class="socials-icon" width="28" height="28">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" class="socials-link">
            <svg class="socials-icon" width="28" height="28">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button type="button" class="menu-open-btn only-mobile" data-menu-open>
        <svg width="32" height="32">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu" data-menu>
      <button type="button" class="menu-close-btn" data-menu-close>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
          <path d="M24 8L8 24" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8 8L24 24" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>

      <nav class="mobile-nav">
        <ul class="mobile-nav-list">
          <li><a href="./index.html" class="mobile-nav-link">Home</a></li>
          <li><a href="./favorites.html" class="mobile-nav-link">Favorites</a></li>
        </ul>
      </nav>

      <ul class="socials mobile-socials">
        <li class="socials-item">
          <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" class="socials-link">
            <svg class="socials-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" class="socials-link">
            <svg class="socials-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" class="socials-link">
            <svg class="socials-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </header>