<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
  rel="stylesheet"
/>

<section class="quote-wrapper favorites-quote-tablet">
  <div class="quote-top-section">
    <div class="quote-container">
      <div class="quote-header">
        <div class="quote-icon-box">
          <svg class="quote-icon-run" width="34" height="32">
            <use href="./images/sprite.svg#icon-run"></use>
          </svg>
        </div>
        <h2 class="quote-title">Quote of the day</h2>
        <svg class="quote-icon-commas" width="20" height="20">
          <use href="./images/sprite.svg#icon-quote"></use>
        </svg>
      </div>

      <div class="quote-text-wrapper">
        <p class="quote-text" id="js-quote-text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="quote-author" id="js-quote-author">Tom Brady</p>
      </div>
    </div>

    <div class="quote-image-container">
      <img
        src="../images/hero/women-sportswear-taking-break-from-workout 1_mob@2x.png"
        alt="Two women training outdoors"
        class="quote-image"
      />
    </div>
  </div>

  <div class="quote-bottom-section">
    <div class="info-container">
      <div class="info-header">
        <div class="info-icon-box">
          <svg class="info-icon-dumbbell" width="20" height="20">
            <use href="./images/sprite.svg#icon-dumbbell"></use>
          </svg>
        </div>
        <div class="info-title-wrapper">
          <p class="info-minutes">110 min</p>
          <p class="info-subtitle">Daily norm of sports</p>
        </div>
      </div>

      <p class="info-description js-info-text js-info-text-mobile">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</section>
